<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mecanica"
        tools:targetApi="31">
        <activity
            android:name=".SeAllAvaliacoes"
            android:exported="false" />
        <activity
            android:name=".CriarAvaliacaoServico"
            android:exported="false" />
        <activity
            android:name=".SeeAllOrdem"
            android:exported="false" />
        <activity
            android:name=".CriarNovaOrdemServico"
            android:exported="false" />
        <activity
            android:name=".AddConteoleProdutividade"
            android:exported="false" />
        <activity
            android:name=".AddControleProdutivadade"
            android:exported="false" />
        <activity
            android:name=".ControleProdutivadadeTela"
            android:exported="false" />
        <activity
            android:name=".ControleProdutividadeTela"
            android:exported="false" />
        <activity
            android:name=".AddtableControleCaixa"
            android:exported="false" />
        <activity
            android:name=".ControleCaixaTela"
            android:exported="false" />
        <activity
            android:name=".SeeAllFuncionarios"
            android:exported="false" />
        <activity
            android:name=".CadastrarFuncionarioTela"
            android:exported="false" />
        <activity
            android:name=".SeeAllCar"
            android:exported="false" />
        <activity
            android:name=".CadastroVeiculoTela"
            android:exported="false" />
        <activity
            android:name=".RelatorioEstoqueTela"
            android:exported="false" />
        <activity
            android:name=".GerenciarEstoqueTela"
            android:exported="false" />
        <activity
            android:name=".AddPecaTela"
            android:exported="false" />
        <activity
            android:name=".GerEstoqueTela"
            android:exported="false" />
        <activity
            android:name=".seeAllClients"
            android:exported="false" />
        <activity
            android:name=".addclientetela"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>